[defaults]
inventory = inventory.yml
roles_path = roles
retry_files_enabled = False
stdout_callback = yaml
display_skipped_hosts = True
force_color = True

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = False
