# Git configuration
# User-specific settings (name, email) are loaded from ~/.gitconfig.local
# Create this file with:
#   git config --file ~/.gitconfig.local user.name "Your Name"
#   git config --file ~/.gitconfig.local user.email "your@email.com"

[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = current

[alias]
	s = status
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = log --graph --oneline --all
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
	ui = auto

[rerere]
	enabled = true
[user]
	name = loidolt
	email = loidolt@gmail.com
